* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

body {
    background-color: rgb(32, 116, 176);
    display: flex;
    flex-direction: column;
    background: url(https://static.vecteezy.com/system/resources/previews/015/413/518/non_2x/smartphone-with-route-and-points-location-on-city-map-on-the-urban-landscape-background-online-car-sharing-service-with-smartphone-app-phone-with-location-marks-and-car-concept-illustration-vector.jpg) center;
}

h1 {
    margin-top: 6%;
    font-size: 500%;
}

.center {
    display: block;
    margin-top: 2%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}


.login-container {
    background-color: azure;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    width: 20%;
    text-align: center;
    padding: 30px;
    display: grid;
    align-items: center;
    margin-top: 2%;
}

.login-container h1 {
    font-size: 300%;
    margin-bottom: 7%;
}

.login-container input[type="username"],
.login-container input[type="password"] {
    font-size: 90%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 5%;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background-color: rgb(74, 70, 179);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 3%;
    font-family: Serif;
}

.login-container button:hover {
    background-color: brown;
}