* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(32, 116, 176);
}

img {
    border-radius: 40%;
}

.center {
    display: block;
    margin-top: 3.5%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

}

.button1 {
    background-color: lightsteelblue;
    margin-left: 45%;
    font-size: 150%;
    font-family: Serif;
    padding: 4px;
    border-radius: 10%;
}

.button2 {
    background-color: lightsteelblue;
    font-size: 150%;
    font-family: Serif;
    padding: 4px;
    border-radius: 10%;
}

.button:hover {
    background-color: rgb(229, 245, 47);
}

.body {
    max-width: 1140px;
    margin: 0 auto;
}
